.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 50px;
  padding-bottom: 22px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 0;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 58px;
  }
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 35px;

  @include media(desktop) {
    max-width: 601px;
    margin-left: 90px;
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #99a1af;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-img {
  display: none;

  @include media(desktop) {
    display: block;
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    min-width: 462px;
  }
}
