.header {
  padding-top: 7px;
  padding-bottom: 7px;
  background: #f9f9f9;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.header-container {
  padding: 0 30px;

  @include media(desktop) {
    padding: 0 100px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.header-logo-img {
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}

.nav-list-item {
}

.nav-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #151515;
  transition: color 0.3s ease-in-out;

  &:hover,
  &.active {
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #1e1e1e;
}
