.context-menu {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

.context-container {
  padding: 0 30px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 180px;

  @include media(desktop) {
    display: none;
  }
}

.close-icon {
  stroke: #364153;
}

.context-nav {
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.context-list-item {
}

.context-list-link {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #151515;
  transition: color 0.3s ease-in-out;

  &:active {
  }
}

.is-open {
  display: flex;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
