<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">A Field of Possibility</h2>
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <p class="about-text">Each level presents a wide star map.</p>
          <p class="about-text">
            Stars drift gently in open space.<br />
            Some can connect.<br />
            Some resist alignment.
          </p>
          <p class="about-text">
            Your goal is to form stable constellations by linking stars with
            anchor lines.
          </p>
          <p class="about-text">
            The map is wide.<br />
            You need to be really accurate to win.
          </p>
        </div>
        <img
          class="about-img"
          src="./img/about/about-img.png"
          alt="Screenshot of the game"
          width="462"
          height="303"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
