<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <h2 class="section-title about-title">A Puzzle of Direction</h2>
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <p class="about-text">
            Each level presents a structured grid.<br />
            Tiles contain path segments that can be rotated.
          </p>
          <p class="about-text">
            At first glance, many routes appear valid.<br />
            But subtle misalignments create false connections.
          </p>
          <p class="about-text">
            The goal is not just connection - it is correct connection.
          </p>
          <p class="about-text">
            When you finally nail it, there's this amazing 'aha!' moment - kinda
            like solving a Rubik's cube, but maybe even better because you had
            to really think it through.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="535"
            height="477"
          />
          <source
            srcset="./img/about/about-img-mob.png"
            width="318"
            height="283"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="318"
            height="283"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
