<section class="efficiency-section section" id="efficiency">
  <div class="efficiency-section-wrapper">
    <div class="container efficiency-container">
      <div class="efficiency-content-wrapper">
        <div class="efficiency-text-wrapper">
          <h2 class="section-title efficiency-title">Efficiency Scoring</h2>
          <p class="efficiency-top-text">You are rewarded for:</p>
          <ul class="efficiency-list">
            <li class="efficiency-list-item">
              <div class="efficiency-item-circle"></div>
              <p class="efficiency-item-text">Minimal anchor usage</p>
            </li>
            <li class="efficiency-list-item">
              <div class="efficiency-item-circle"></div>
              <p class="efficiency-item-text">No unnecessary links</p>
            </li>
            <li class="efficiency-list-item">
              <div class="efficiency-item-circle"></div>
              <p class="efficiency-item-text">Clean geometric balance</p>
            </li>
            <li class="efficiency-list-item">
              <div class="efficiency-item-circle"></div>
              <p class="efficiency-item-text">Optimal structural layout</p>
            </li>
          </ul>
          <p class="efficiency-bottom-text">
            I swear there's always some better way to do it if you're stubborn
            enough to keep trying.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
