<section class="features-section section" id="features">
  <div class="features-section-wrapper">
    <div class="container features-container">
      <div class="features-content-wrapper">
        <div class="features-text-wrapper">
          <h2 class="section-title features-title">Anchor Links</h2>
          <p class="features-top-text">
            Stars can be connected if they fall within alignment range.
          </p>
          <p class="features-list-text">EACH LINK:</p>
          <ul class="features-list">
            <li class="features-list-item">
              <div class="features-item-circle"></div>
              <p class="features-item-text">Must not intersect other links</p>
            </li>
            <li class="features-list-item">
              <div class="features-item-circle"></div>
              <p class="features-item-text">
                Must respect distance constraints
              </p>
            </li>
            <li class="features-list-item">
              <div class="features-item-circle"></div>
              <p class="features-item-text">
                Must contribute to overall balance
              </p>
            </li>
          </ul>
          <p class="features-bottom-text">
            Mess up your connections and the whole thing falls apart - learned
            that the hard way!
          </p>
        </div>
        <picture>
          <source
            srcset="./img/features/features-img-mob.png"
            media="(min-width: 1440px)"
            width="462"
            height="350"
          />
          <source
            srcset="./img/features/features-img-mob.png"
            width="263"
            height="200"
          />
          <img
            class="features-img"
            src="./img/features/features-img-mob.png"
            alt="Screenshot of the game"
            width="263"
            height="200"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
