<section class="fields-section section" id="fields">
  <div class="fields-section-wrapper">
    <div class="container fields-container">
      <div class="fields-content-wrapper">
        <div class="fields-text-wrapper">
          <h2 class="section-title fields-title">Expanding Star Fields</h2>
          <p class="fields-top-text">As you progress:</p>
          <ul class="fields-list">
            <li class="fields-list-item">
              <div class="fields-item-circle"></div>
              <p class="fields-item-text">Maps become wider</p>
            </li>
            <li class="fields-list-item">
              <div class="fields-item-circle"></div>
              <p class="fields-item-text">Star density increases</p>
            </li>
            <li class="fields-list-item">
              <div class="fields-item-circle"></div>
              <p class="fields-item-text">Link limits apply</p>
            </li>
            <li class="fields-list-item">
              <div class="fields-item-circle"></div>
              <p class="fields-item-text">
                Multi-constellation challenges appear
              </p>
            </li>
            <li class="fields-list-item">
              <div class="fields-item-circle"></div>
              <p class="fields-item-text">
                Moving star systems introduce dynamic puzzles
              </p>
            </li>
          </ul>
          <p class="fields-bottom-text">
            Things get bigger but it's still easy to follow what's happening.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
