<header class="header">
  <div class="header-bg-wrapper">
    <div class="container header-container">
      <nav class="nav">
        <a href="./index.html" class="header-logo-link">
          <picture>
            <source
              srcset="./img/header/header-logo-desk.png"
              media="(min-width: 1440px)"
              width="72"
              height="70" />
            <source
              srcset="./img/header/header-logo-mob.png"
              width="50"
              height="49" />
            <img
              class="header-logo-img"
              src="./img/header/header-logo-mob.png"
              alt="Logo"
              width="50"
              height="49" /></picture
        ></a>
        <ul class="nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#home">Home</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#about">The Concept</a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#gameplay"
              >How to Play</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#features"
              >Rules & Features</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#progress"
              >Progression</a
            >
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="./index.html#reviews"
              >Testimonials</a
            >
          </li>
        </ul>
        <button class="nav-btn" type="button" aria-label="Open mobile menu">
          <svg class="menu-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
