<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">True Pathway: Line of Alignment</h1>
          <p class="hero-subtitle">Not every route leads forward.</p>
          <div class="hero-text-container">
            <p class="hero-text">
              A grid of rotating tiles.<br />
              Multiple possible paths.<br />
              Only one alignment connects start to destination without
              interruption.
            </p>
            <p class="hero-text">
              Your task is simple:<br />
              Rotate carefully. Think ahead. Commit deliberately.
            </p>
            <p class="hero-text">
              The board may look complete.<br />
              But only one pathway is true.
            </p>
          </div>
          <a class="hero-cta-link" href="./index.html#features"
            >Learn the Rules</a
          >
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="567"
            height="567"
          />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="286"
            height="286"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="286"
            height="286"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
