<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#about">The Concept</a>
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#gameplay"
            >How to Play</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#features"
            >Rules & Features</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#progress"
            >Progression</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#reviews"
            >Testimonials</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
