<section class="system-section section" id="system">
  <div class="system-section-wrapper">
    <div class="container system-container">
      <div class="system-content-wrapper">
        <div class="system-text-wrapper">
          <h2 class="section-title system-title">Stability System</h2>
          <p class="system-top-text">
            Every constellation has a stability rating.<br />
            Stability depends on:
          </p>
          <ul class="system-list">
            <li class="system-list-item">
              <div class="system-item-circle"></div>
              <p class="system-item-text">Even distribution of connections</p>
            </li>
            <li class="system-list-item">
              <div class="system-item-circle"></div>
              <p class="system-item-text">Minimal redundancy</p>
            </li>
            <li class="system-list-item">
              <div class="system-item-circle"></div>
              <p class="system-item-text">Balanced structural layout</p>
            </li>
            <li class="system-list-item">
              <div class="system-item-circle"></div>
              <p class="system-item-text">No overloaded stars</p>
            </li>
          </ul>
          <p class="system-bottom-text">
            Only stable constellations complete the level.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
